body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 32px;
  width: 100%;
}

p{  
  font-size: 16px;
  margin: 0px;
}


#totaltime_container{
  padding: 0px 30px;
  text-align: center;
}

th {
  width: 200px;
  font-size: 16px;
  color: white;
  background-color: #225588;
  border-bottom: 1px solid #8dc3f5;
  text-align: center;
}
td {
  width: 160px;
  font-size: 16px;
  background-color: rgb(241, 239, 239);
  border-bottom: 1px solid #8dc3f5;
  text-align: center;
}
input {
  margin: 10px 3%;
  width: 95%;
  height: 40px;
  font-size: 80%;
}


/*ヘッダー部分*/
.main_wrapper{
  background-color:#00A7EA;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

/*まとめ部分*/
.top_wrapper{
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #ccc;
}

.top_title{
  margin: 10px auto;
  text-align: center;
}

.total_wrapper{
margin: 20px 0;
width:47%;
border: 1px solid #ccc;
}

/*リンク部分*/
.ref_wrapper{
  margin: 20px 0;
  width:47%;  
  border: 1px solid #ccc;
}

.submit{
  margin-left: 35px;
}

.link_block{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.link_wrapper{
  display: flex;
  align-items: center;
  margin: 10px;
}

.link_img{
  width: 25px;
  margin-right: 10px;
}

.title_wrapper {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;

}
h1 {
  font-size: 100%;
  margin: auto;
}

h3{
  font-size: 24px;
}

a{
  font-size: 16px;
  display: block;
}


/*入力部分*/

main {
  width: 100%;
  display: block;
  border-bottom: 1px solid #ccc;
  position: relative;
  padding:20px 0px;
}
footer {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.item {
  font-size: 20px;
  margin:10px 3% 5px 3%;
}

.time_wrapper{
  display: flex;
  justify-content: space-evenly;
}

.time_box{
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#input_time{
  width: 8%;
}

#date{
  width: 50%;
  font-size: 20px;
}

#time{
  width: 50%;
  font-size: 20px;
  text-align: center;
}


textarea {
  margin: 0 3%;
  width: 95%;
  height: 100px;
  font-size: 50%;
  box-shadow: 3px 3px 3px 3px #555;
  background-color: rgb(241, 239, 239);
}
#theme {
  margin: 0 3%;
  width: 95%;
  font-size: 50%;
  background-color: #e1efff;
  box-shadow: 3px 3px 3px 3px #555;
}



/*セーブ、クリアボタン*/
ul {
  padding: 0;
  border-top: 1px solid #000000;
  display: table; /* 定義 */
  table-layout: fixed;
  width: 96%;
  font-size: 80%;
  margin: 0 3%;
  text-align: center;
}
li {
  list-style-type: none;
  border: 1px solid #014897;
  background-color: #228bc8;
  display: table-cell; /* 定義 */
  cursor: pointer;
  color: #fff;
  margin-top: 20px;
}
li:hover {
  background: #fff;
  color: #228bc8;
}

/*readme出力部分*/
.readme_title{
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 0;
}

.readme_wrapper{
  background-color: #CFDEF3;
  width: 95%;
  margin: 0 3%;
}

#theme_output{
  font-size: 16px;
  margin: 0 3%;
}



/*テーブル部分*/
table {
  margin: 20px 3%;
  border: 1px solid #8dc3f5;
  width: 96%;

}

