
/*初期画面*/

h1{
    font-size: 36px;
    color: royalblue;
    text-align: center;
    font-weight: bold;
}


.character_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}

.skil_img{
    max-width: 250px;
    margin: 20px auto;
}

.skil_img:hover{
    border: 3px solid #ccc100;
}


.character_select{
    margin: auto 20px;
    width: 300px;
}

.character_select:hover{
    border: 3px solid #ccc100;
}

/*初期画面*/

/*戦闘画面*/

#view2{
    display: none;
}

.btn{
    border: 1px solid  #ffd61a;
    border-radius: 5px;
    border-bottom: 5px solid #ccc100;
    background-color: #ffd61a;
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.btn_text{
    font-size: 18px;
    color: white;
    margin: auto;
}

.btn_text :hover{
    font-size: 18px;
    color: white;
    margin: auto;    
}

.chara_select_box{
    display: flex;
    align-items: center;    
    margin: auto;
}

.vs_wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: center;
    align-items:flex-start
}

.side_neme{
    font-size: 32px;
    color: royalblue;
    text-align: center;
    width: 700px;
}

.skil-list{
    display: flex;
    justify-content:space-between;
    width: 600px;

}

.skil_index{
    font-size: 24px;  
    text-align: center;  
    margin: 20px 0;
}

.hand_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width : calc(500px / 3);
    margin:10px
}

.hand_img{
    width: 30px;
    height: 30px;
}


.skil_img{
    max-width: calc(500px / 3);
    
}


.VS{
    font-size: 40px;
    color: red;
    font-weight: bold;
    border: none;
    margin-top: 30px;
}



#my{
    font-size: 32px;
    color: sandybrown;
    text-align: center;
    width: 700px;
}

#enemy{
    font-size: 32px;
    color:sandybrown;
    text-align: center;
    width: 700px;
}


/*結果画面*/
#view3{
    display: none;
}


#result{
    font-size: 60px;
    text-align: center;
    color: red;
}